<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Me Gusta By Sr Valbernielson | Pedidos Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Pedidos de lanches da hamburgueria Me Gusta do Sr Valbernielson"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <link href="/3-party/web/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="/3-party/web/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/3-party/web/css/font-awesome.css" rel="stylesheet">
    <script src="/3-party/web/js/jquery.min.js"></script>
    <script src="/3-party/web/js/bootstrap.min.js"></script>
</head>
<body>
<div class="login">
    <h1><a href="/login">Me Gusta By Sr. Valbernielson </a></h1>
    <div class="login-bottom">
        <?php

        $saudacao = "Olá, Bom dia";
        if(date("H") >= 19){
            $saudacao = "Olá, Boa noite";
        }
        if(date("H") > 12 && date("H") < 19){
            $saudacao = "Olá, Boa tarde";
        }

        ?>
        <h2><?=$saudacao?></h2>
        <form action="/cadastrar-se" method="POST">
            <div class="col-md-12">
                <?php
                if (!empty($error)) {
                    ?>
                    <div class="alert alert-danger" role="alert">
                        <?= $error ?>
                    </div>
                    <?php
                }
                ?>
            </div>
            <div class="col-md-6">
                <div class="login-mail">
                    <input type="text" placeholder="Seu nome" name="nome" id="nome" required="Por favor, informe seu nome" value="<?= $this->e($nome) ?>">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="text" placeholder="Seu email" name="email" id="email" required="Por favor, informe seu email" value="<?= $this->e($email) ?>">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="text" placeholder="Seu telefone" name="telefone" id="telefone" required="Por favor, informe seu telefone" value="<?= $this->e($telefone) ?>">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Sua senha" name="senha" id="senha" required="Por favor, informe sua senha">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Repita sua senha" name="senha_check" id="senha_check" required="Por favor, repita sua senha">
                    <i class="fa fa-lock"></i>
                </div>
            </div>

            <div class="col-md-6 login-do">
                <label class="hvr-shutter-in-horizontal login-sub">
                    <input type="submit" value="Me Cadastrar">
                </label>
                <p>Já me registrei</p>
                <a href="/login" class="hvr-shutter-in-horizontal">Login</a>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
<div class="copy-right">
    <p> &copy; <?= date("Y") ?> Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p></div>
<!---->
<!--scrolling js-->
<script src="/3-party/web/js/jquery.nicescroll.js"></script>
<script src="/3-party/web/js/scripts.js"></script>
<!--//scrolling js-->
</body>
</html>

