<?php $this->layout('layout::default', ['title' => 'Meu Perfil']) ?>

<?php
$dados = $cliente->toArray();
foreach ($dados as $key => $inf) {
    if (trim($inf) == "") {
        ?>
        <div class="row">
            <div class="col-md-12">
                <h3>Preencha todas informações para liberar a solicitação de pedido</h3>
                <hr>
            </div>
        </div>
        <?php
        break;
    }
}
?>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="referencia">*Nome</label>
            <input type="text" class="form-control" required id="nome" name="nome" placeholder="Seu Nome" value="<?= $cliente->nome ?>">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="referencia">*Cidade</label>
            <input type="text" class="form-control" required id="cidade" name="cidade" placeholder="Sua Cidade" value="<?= $cliente->cidade ?>">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="referencia">*CEP</label>
            <input type="text" class="form-control" required id="cep" name="cep" placeholder="Seu CEP" value="<?= $cliente->cep ?>">
        </div>
    </div>

    <div class="col-md-9">
        <div class="form-group">
            <label class="control-label" for="referencia">*Endereço</label>
            <input type="text" class="form-control" required id="endereco" name="endereco" placeholder="Seu Endereço" value="<?= $cliente->endereco ?>">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="referencia">*Número</label>
            <input type="text" class="form-control" required id="numero" name="numero" placeholder="O número de sua casa ou descrição do apartamento" value="<?= $cliente->numero ?>">
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label class="control-label" for="referencia">*Bairro</label>
            <input type="text" class="form-control" required id="bairro" name="bairro" placeholder="Seu Bairro, Vila ou Jardim" value="<?= $cliente->bairro ?>">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="referencia">*Telefone</label>
            <input type="text" class="form-control" required id="telefone" name="telefone" placeholder="Seu telefone para contato" value="<?= $cliente->telefone ?>">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="referencia">*Email</label>
            <input type="text" class="form-control" required id="email" name="email" placeholder="Seu email para entrar no nosso lindo sistema" value="<?= $cliente->email ?>">
        </div>
    </div>

    <div class="col-md-12" id="env-botoes">
        <button type="button" id="btn-cancelar" class="btn btn-danger float-right"><i class="fa fa-times"></i> Cancelar</button>
        <button type="button" id="btn-salvar" class="btn btn-default float-right"><i class="fa fa-save"></i> Salvar</button>
    </div>
</div>


<?php $this->start("js") ?>
<script>
    $(function () {
        $("#btn-salvar").click(function () {
            var checkNull = false;
            $("input[required]").each(function (idx, elem) {
                if ($(elem).val() == "") {
                    toastr.warning("Por favor preencha o campo " + $(elem).attr("placeholder"));
                    checkNull = true;
                    inputInvalid(elem);
                }
            });
            if (checkNull == true) {
                return;
            }

            var nome = $("#nome").val();
            var endereco = $("#endereco").val();
            var bairro = $("#bairro").val();
            var numero = $("#numero").val();
            var cep = $("#cep").val();
            var cidade = $("#cidade").val();
            var telefone = $("#telefone").val();
            var email = $("#email").val();

            blockUI("Salvando suas informações");
            $.ajax("/perfil?ajax=salvar", {
                method: "POST",
                data: {
                    nome: nome,
                    endereco: endereco,
                    bairro: bairro,
                    numero: numero,
                    cep: cep,
                    cidade: cidade,
                    telefone: telefone,
                    email: email
                }
            }).done(function (response) {
                unblockUI();
                if (response.exception == undefined) {
                    toastr.success("Dados atualizados com sucesso");

                    setTimeout(function () {
                        window.location = "/painel";
                    }, 1000);
                } else {
                    toastr.error(response.exception);
                }
            });

        });
    })
</script>
<?php $this->stop() ?>


