<?php $this->layout('layout::default', ['title' => 'Meus Pedidos']) ?>

    <div class="row">
        <div class="col-md-12">
            <a href="/pedido" class="btn btn-primary"><i class="fa fa-ticket"></i> Novo Pedido</a>
        </div>
    </div>

    <div class="row margin-top-51">
        <div class="col-md-12">
            <small>Você só pode alterar o pedido enquanto ele estiver <b class="icon-blue">aguardando início</b> ok?</small>
        </div>
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Status do Pedido</th>
                    <th>Data do Pedido</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody id="env-pedidos">
                <?php
                if (count($pedidos) == 0) {
                    ?>
                    <tr class="text-center">
                        <td colspan="4">Ohhhhhhh nenhum pedido ainda? Estamos aguardando...</td>
                    </tr>
                    <?php
                } else {
                    foreach ($pedidos as $pedido) {
                        $status = json_decode($pedido->status, 1);
                        $color = "";
                        switch ($status['codigo']) {
                            case "AG_INICIO":
                                $color = "icon-blue";
                                break;
                            case "ENTREGUE":
                                $color = "icon-green";
                                break;
                            case "CANCELADO":
                                $color = "icon-red";
                                break;
                        }
                        ?>
                        <tr data-pedido="<?= $pedido->codigo ?>" data-status="<?= $status['codigo'] ?>">
                            <td><?= $pedido->codigo ?></td>
                            <td class="<?= $color ?>"><?= $status['status'] ?></td>
                            <td><?= \App\Helpers\DateHandlers::formatDate($pedido->criado_em) ?></td>
                            <td>
                                <?php
                                if ($status['codigo'] == "AG_INICIO") {
                                    ?>
                                    <button type="button" class="btn-alterarpedido btn-xs btn btn-primary"><i class="icon-white fa fa-edit"></i> Alterar Pedido</button>
                                    <button type="button" class="btn-cancelarpedido btn-xs btn btn-danger"><i class="icon-white fa fa-times"></i> Cancelar Pedido</button>
                                    <?php
                                }

                                ?>
                                <a href="/pedido-detalhe/<?= $pedido->codigo ?>" class="btn-xs btn btn-default"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        <?php
                    }
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>


<?php $this->start("js") ?>
    <script src="/3-party/swal/sweetalert.min.js"></script>
    <script>

        $(function () {

            $(".btn-alterarpedido").click(function () {
                var pedido = $(this).parents("tr").data("pedido");

                blockUI("Verificando seu pedido");
                checkStatusPedido(pedido, function (response) {
                    unblockUI();
                    if (response.status_codigo != "AG_INICIO") {
                        toastr.warning("Infelizmente seu pedido já foi iniciado e não pode ser alterado...");
                        return;
                    }

                    window.location = "/pedido/" + pedido;
                });
            });

            $(".btn-cancelarpedido").click(function () {
                var pedido = $(this).parents("tr").data("pedido");
                var tr = $(this).parents("tr");

                checkStatusPedido(pedido, function (response) {
                    if (response.status_codigo != "AG_INICIO") {
                        toastr.warning("Infelizmente seu pedido já foi iniciado e não pode ser cancelado...");
                        return;
                    }

                    swal({
                        title: "Vamos confirmar!",
                        text: "Deseja mesmo cancelar esse delicioso pedido que você fez?",
                        icon: "warning",
                        buttons: ["Não, continuar com pedido!", "Sim , eu sei... É uma pena mas por favor cancele"]
                    }).then(function (value) {
                        if (value == true) {
                            $.ajax("/painel?ajax=cancelarPedido", {
                                method: "POST",
                                data: {
                                    pedido: pedido
                                }
                            }).done(function (response) {
                                if (response.exception == undefined) {
                                    toastr.success("Seu pedido foi cancelado :(");

                                    $(tr).fadeOut(1000, function () {
                                        $(tr).remove();
                                    });
                                } else {
                                    toastr.success("Ops, aconteceu algo errado: " + response.exception);
                                }
                            });
                        }
                    });
                });
            });
        });

        function checkStatusPedido(pedido, callback) {

            $.ajax("/painel?ajax=statusPedido", {
                method: "POST",
                data: {
                    pedido: pedido
                }
            }).done(function (response) {
                callback(response);
            });
        }
    </script>
<?php $this->stop("js") ?>