<?php $this->layout('layout::default', ['title' => 'Meu Pedido', "backButton" => "/painel"]) ?>


    <div class="row margin-top-21">
        <div class="col-md-12">
            <h4>Meu Pedido <b id="label-codigopedido"><?= $pedido['pedido']['codigo'] ?></b></h4>
            <h5 class="margin-top-16">Feito Em <b><?= \App\Helpers\DateHandlers::formatDate($pedido['pedido']['criado_em']) ?></b></h5>
            <h5 class="margin-top-16">Status <b class="<?= $statusPedido->codigo == "CANCELADO" ? "icon-red" : "" ?>"><?= $statusPedido->status ?></b></h5>
            <hr>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="referencia">Observações</label>
                <textarea disabled class="form-control" required id="observacao" name="observacao"><?= $pedido['pedido']['observacoes'] ?></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-center">Quantidade</th>
                </tr>
                </thead>
                <tbody class="env-pedido-itens">

                <?php
                foreach ($pedido['itens'] as $item) {
                    ?>
                    <tr>
                        <td><?= $item['item_nome'] ?></td>
                        <td><?= $item['quantidade'] ?></td>
                    </tr>
                    <?php
                }
                ?>
                </tbody>

            </table>
        </div>
        <div class="col-md-12 margin-top-16 form-inline text-right">
            <div class="form-group">
                <label class="control-label" for="referencia">Troco para</label>
                <input disabled type="text" class="form-control" id="troco" name="troco" placeholder="0.00" value="<?= $pedido['pedido']['troco_para'] ?>">
            </div>
        </div>


        <div class="col-md-12 margin-top-16">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Forma Pagamento</th>
                </tr>
                </thead>
                <tbody class="env-forma-pagamento">
                <?php
                foreach ($pedido['forma_pagamento'] as $item) {
                    ?>
                    <tr>
                        <td><?= $item['forma'] ?></td>
                    </tr>
                    <?php
                }
                ?>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>


<?php $this->start("style") ?>
    <style>
        .env-cardapio {
            float: left;
            transition-duration: 1s;
        }

        .env-pedido {
            float: left;
            transition-durations: 1s;
        }

        .cardapio-item {
            border-bottom: 1px dashed #e2e2e2;
            border-right: 1px dashed #e2e2e2;
            transition-duration: 1s;
            cursor: pointer;
        }

        .cardapio-item:hover {
            background: #d5e2df;
        }

        .cardapio-item > .acoes {
            width: 100%;
            float: left;
        }

        .cardapio-item > .item {
            float: left;
            width: 50%;
            padding-left: 5px;
        }

        .cardapio-item > .img {
            float: left;
            width: 50%;
        }

        .cardapio-item > .img > img {
            float: left;
            width: 100%;
            max-height: 163px;
        }

        .cardapio-item > .item > .item-nome {
            font-size: 20px;
            color #333;
        }

        .cardapio-item > .item > .item-descricao {
            font-size: 15px;
            color: #666
        }

        .cardapio-item > .item > .item-preco {
            font-size: 22px;
            color: #1ABC9C;
        }
    </style>
<?php $this->stop() ?>