<?php $this->layout('layout::default_admin', ['title' => 'Meu Histórico']) ?>
<div class="row">
    <div class="col-md-12">
        <a href="/admin/cardapio/n" class="btn btn-primary"><i class="fa fa-tasks"></i> Novo Item</a>
    </div>
</div>
    <div class="row margin-top-51">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Tipo</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody id="env-pedidos">
                <?php
                if (count($produtos) == 0) {
                    ?>
                    <tr class="text-center">
                        <td colspan="4">Nenhum produto cadastrado ainda</td>
                    </tr>
                    <?php
                } else {
                    foreach ($produtos as $produto) {
                        ?>
                        <tr>
                            <td><?= $produto->nome ?></td>
                            <td><?= $produto->preco ?></td>
                            <td><?= $produto->tipo_nome ?></td>

                            <td>
                                <a target="_blank" href="/admin/cardapio/<?= $produto->id ?>" class="btn-xs btn btn-primary"><i class="icon-white fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <?php
                    }
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>


<?php $this->start("js") ?>
    <script>
        addDatePicker($("#data-inicio"));
        addDatePicker($("#data-fim"));
    </script>
<?php $this->stop("js") ?>