<?php $this->layout('layout::default_admin', ['title' => 'Cardápio', "backButton" => "/admin/cardapio"]) ?>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="referencia">*Nome</label>
            <input type="hidden" id="id" name="id" value="<?= is_object($cardapio) ? $cardapio->id : "" ?>">
            <input type="text" class="form-control" required id="nome" name="nome" placeholder="Nome" value="<?= is_object($cardapio) ? $cardapio->nome : "" ?>">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="referencia">*Tipo</label>
            <select name="tipo" id="tipo" class="form-control">
                <option value=""></option>
                <?php
                foreach ($tipoCardapio as $item) {
                    ?>
                    <option <?= is_object($cardapio) && $cardapio->tipocardapio_id == $item->id ? "selected" : "" ?> value="<?= $item->codigo ?>"><?= $item->nome ?></option>
                    <?php
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="referencia">*Preço</label>
            <input type="text" class="form-control" required id="preco" name="preco" placeholder="Preço" value="<?= is_object($cardapio) ? $cardapio->preco : "" ?>">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="referencia">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" placeholder="Descrição"><?= is_object($cardapio) ? $cardapio->descricao : "" ?></textarea>
        </div>
    </div>

    <div class="col-md-12" id="env-botoes">
        <button type="button" id="btn-cancelar" class="btn btn-danger float-right"><i class="fa fa-times"></i> Cancelar</button>
        <button type="button" id="btn-salvar" class="btn btn-default float-right"><i class="fa fa-save"></i> Salvar</button>
    </div>
</div>

<?php $this->start("js") ?>
<script>
    $(function () {

        $("#btn-salvar").click(function () {
            var id = $("#id").val();
            var nome = $("#nome").val();
            var tipo = $("#tipo").val();
            var preco = $("#preco").val();
            var descricao = $("#descricao").val();

            blockUI("Salvando...");
            $.ajax("/admin/cardapio/a?ajax=gravarCardapio", {
                method: "POST",
                data: {
                    id: id,
                    nome: nome,
                    tipo: tipo,
                    preco: preco,
                    descricao: descricao
                }
            }).done(function (response) {
                unblockUI();
                if (response.exception == undefined) {
                    toastr.success("Salvo com sucesso");
                } else {
                    toastr.error("Ops aconteceu algo de errado com seu item");
                }
            })
        });

    });
</script>
<?php $this->stop() ?>


