<?php $this->layout('layout::default_admin', ['title' => 'Dashboard']) ?>

<div class="row">
    <div class="col-md-12">
        <div class="list-group list-group-alternate">
            <a href="#" class="list-group-item"><span class="badge"><?= $totalPedidos ?></span> <i class="fa fa-ticket"></i> Total de Pedidos </a>
            <a href="#" class="list-group-item"><span class="badge badge-primary"><?= $valorTotal ?></span> <i class="fa fa-money"></i> Valor Arrecadado (Últimos 7 dias)</a>
            <a href="#" class="list-group-item"><span class="badge"><?= $itemMaisPedido->nome ?> - <?= $itemMaisPedido->cardapio_item_count ?>x</span> <i class="fa fa-tasks"></i> Item Mais Pedido </a>

            <a href="#" class="list-group-item"><span class="badge"><?= $topCliente->nome ?> - <?= $topCliente->cliente_count ?>x</span> <i class="fa fa-user"></i> Cliente que mais faz pedido</a>
        </div>
    </div>
</div>