<?php $this->layout('layout::default_admin', ['title' => 'Meu Histórico']) ?>

<?php
if ($error) {
    ?>
    <div class="alert alert-danger" role="alert">
        <?= $error ?>
    </div>
    <?php
}
?>

    <form action="historico">
        <div class="row form-inline">
            <div class="col-md-4 text-center">
                <div class="form-group">
                    <label class="control-label" for="referencia">Data Inicial</label>
                    <input type="text" class="form-control" required id="data-inicio" name="data-inicio" placeholder="Dia/Mês/Ano" value="<?= is_object($dataInicial) ? $dataInicial->format("d/m/Y") : "" ?>">
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="form-group">
                    <label class="control-label" for="referencia">Data Final</label>
                    <input type="text" class="form-control" required id="data-fim" name="data-fim" placeholder="Dia/Mês/Ano" value="<?= is_object($dataFinal) ? $dataFinal->format("d/m/Y") : "" ?>">
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="form-group">
                    <button type="submit" id="btn-buscar" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row margin-top-51">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th>Data do Pedido</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody id="env-pedidos">
                <?php
                if (count($pedidos) == 0) {
                    ?>
                    <tr class="text-center">
                        <td colspan="4">Ohhhhhhh nenhum pedido ainda? Estamos aguardando...</td>
                    </tr>
                    <?php
                } else {
                    foreach ($pedidos as $pedido) {
                        ?>
                        <tr>
                            <td><?= $pedido->codigo ?></td>
                            <td><?= $pedido->cliente_nome ?></td>
                            <td><?= \App\Helpers\DateHandlers::formatDate($pedido->criado_em) ?></td>
                            <td>
                                <a target="_blank" href="/admin/pedido/<?= $pedido->codigo ?>" class="btn-xs btn btn-default"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        <?php
                    }
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>


<?php $this->start("js") ?>
    <script>
        addDatePicker($("#data-inicio"));
        addDatePicker($("#data-fim"));
    </script>
<?php $this->stop("js") ?>