<?php $this->layout('layout::default_admin', ['title' => 'Painel Inicial']) ?>

    <div class="row margin-top-51">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody id="env-pedidos">
                <?php
                if (count($pedidos) == 0) {
                    ?>
                    <tr class="text-center">
                        <td colspan="6">Nenhum pedido aberto no momento</td>
                    </tr>
                    <?php
                } else {
                    foreach ($pedidos as $pedido) {
                        $status = json_decode($pedido->status, 1);
                        ?>
                        <tr data-pedido="<?= $pedido->codigo ?>" data-status="<?= $status['codigo'] ?>">
                            <td><?= $pedido->codigo ?></td>
                            <td><?= $pedido->nome ?></td>
                            <td><?= $status['status'] ?></td>
                            <td><?= $pedido->valor_total ?></td>
                            <td><?= \App\Helpers\DateHandlers::formatDate($pedido->criado_em) ?></td>
                            <td>
                                <a href="/admin/pedido/<?= $pedido->codigo ?>" class="btn-alterarpedido btn-xs btn btn-primary"><i class="icon-white fa fa-edit"></i> Alterar Pedido</a>
                                <button type="button" class="btn-cancelarpedido btn-xs btn btn-danger"><i class="icon-white fa fa-times"></i> Cancelar Pedido</button>
                                <a href="/pedido-detalhe/<?= $pedido->codigo ?>" class="btn-xs btn btn-default"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        <?php
                    }
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>


<?php $this->start("js") ?>
    <script src="/3-party/swal/sweetalert.min.js"></script>
    <script>

        $(function () {

            $(".btn-alterarpedido").click(function () {
                var pedido = $(this).parents("tr").data("pedido");
                window.location = "/admin/pedido/" + pedido;
            });

            $(".btn-cancelarpedido").click(function () {
                var pedido = $(this).parents("tr").data("pedido");
                var tr = $(this).parents("tr");

                checkStatusPedido(pedido, function (response) {
                    if (response.status_codigo != "AG_INICIO") {
                        toastr.warning("Infelizmente seu pedido já foi iniciado e não pode ser cancelado...");
                        return;
                    }

                    swal({
                        title: "Vamos confirmar!",
                        text: "Deseja mesmo cancelar o pedido do cliente?",
                        icon: "warning",
                        buttons: ["Não, continuar com pedido!", "Sim , Cancelar o pedido"]
                    }).then(function (value) {
                        if (value == true) {
                            $.ajax("/painel?ajax=cancelarPedido", {
                                method: "POST",
                                data: {
                                    pedido: pedido
                                }
                            }).done(function (response) {
                                if (response.exception == undefined) {
                                    toastr.success("O pedido foi cancelado");

                                    $(tr).fadeOut(1000, function () {
                                        $(tr).remove();
                                    });
                                } else {
                                    toastr.success("Ops, aconteceu algo errado: " + response.exception);
                                }
                            });
                        }
                    });
                });
            });
        });

        function checkStatusPedido(pedido, callback) {

            $.ajax("/admin?ajax=statusPedido", {
                method: "POST",
                data: {
                    pedido: pedido
                }
            }).done(function (response) {
                callback(response);
            });
        }
    </script>
<?php $this->stop("js") ?>