<?php $this->layout('layout::default_admin', ['title' => 'Cardápio e Pedido', "backButton" => "/admin"]) ?>


    <div class="row margin-top-21">
        <div class="col-md-12">
            <h4>Meu Pedido <b id="label-codigopedido"></b></h4>
            <h5 class="margin-top-16">Feito Em <b><?= \App\Helpers\DateHandlers::formatDate($statusPedido->criado_em) ?></b></h5>
            <h5 class="margin-top-16">Status <b class="<?= $statusPedido->codigo == "CANCELADO" ? "icon-red" : "" ?>"><?= $statusPedido->status ?></b></h5>
            <hr>
        </div>

        <div class="col-md-12">
            <div class="col-md-12"><h4>Cliente</h4></div>
            <div class="col-md-4 margin-top-16"><p><b>Nome: </b><?= $cliente->nome ?></p></div>
            <div class="col-md-4 margin-top-16"><p><b>CEP: </b><?= $cliente->cep ?></p></div>
            <div class="col-md-4 margin-top-16"><p><b>Endereço: </b><?= $cliente->endereco ?></p></div>
            <div class="col-md-4 margin-top-16"><p><b>Número: </b><?= $cliente->numero ?></p></div>
            <div class="col-md-4 margin-top-16"><p><b>Cidade: </b><?= $cliente->cidade ?></p></div>
            <div class="col-md-4 margin-top-16"><p><b>Telefone: </b><?= $cliente->telefone ?></p></div>
            <div class="col-md-8 margin-top-16"><p><b>Email: </b><?= $cliente->email ?></p></div>
            <div class="col-md-4 margin-top-16"><p><b>Cliente desde: </b><?= \App\Helpers\DateHandlers::formatDate($cliente->criado_em) ?></p></div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>

        <div class="col-md-12 text-center">
            <h4 style="margin-bottom: 20px;text-decoration: underline">Status do Pedido</h4>
            <div class="col-md-4 text-center">
                <button type="button" class="btn-status btn <?= $statusPedido->codigo == 'EM_PREPARO' ? "btn-success" : "btn-default" ?>" data-codigo="EM_PREPARO"><i class="icon-green fa fa-check"></i> Em Preparo</button>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn-status btn <?= $statusPedido->codigo == 'EM_TRANSITO' ? "btn-success" : "btn-default" ?>" data-codigo="EM_TRANSITO"><i class="icon-green fa fa-check"></i> Em Trânsito</button>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn-status btn <?= $statusPedido->codigo == 'ENTREGUE' ? "btn-success" : "btn-default" ?>" data-codigo="ENTREGUE"><i class="icon-green fa fa-check"></i> Entregue</button>
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="referencia">Observações</label>
                <textarea class="form-control" required id="observacao" name="observacao"></textarea>
                <input type="hidden" id="pedido" name="pedido" value="<?= $pedido ?>">
            </div>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-center">Quantidade</th>
                    <th>Valor</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody class="env-pedido-itens">

                <tr class="tr-total">
                    <td colspan="4" class="text-right">
                        <small>Total do Pedido</small>
                        <p id="total-pedido"></p></td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="col-md-6 margin-top-16 form-inline">
            <div class="form-group">
                <label class="control-label" for="referencia">Formas de Pagamento</label>
                <select class="form-control" id="forma-pagamento" name="forma-pagamento">
                    <?php
                    foreach ($formaPagamento as $item) {
                        ?>
                        <option value="<?= $item->codigo ?>"><?= $item->forma ?></option>
                        <?php
                    }
                    ?>
                </select>
            </div>
            <div class="form-group">
                <button type="button" id="btn-addpagamento" class="btn btn-primary"><i class="fa fa-plus"></i></button>

            </div>
        </div>
        <div class="col-md-6 margin-top-16 form-inline text-right">
            <div class="form-group">
                <label class="control-label" for="referencia">Troco para</label>
                <input type="text" class="form-control" id="troco" name="troco" placeholder="0.00" value="">
            </div>
        </div>


        <div class="col-md-12 margin-top-16">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>Forma Pagamento</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody class="env-forma-pagamento">

                </tbody>
            </table>
        </div>

        <div class="col-md-12 margin-top-16">
            <button type="button" id="btn-fechar-pedido" class="btn btn-success float-right"><i class="fa fa-ticket"></i> <?= $pedido != "" ? "Atualizar" : "Finalizar" ?> Pedido</button>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <div class="row margin-top-51">

        <div class="col-md-12">
            <h3>Nosso Cardápio</h3>
            <small>Clique no <i class="fa fa-plus"></i> para adicionar itens ao seu pedido</small>
        </div>
    </div>


    <div class="row margin-top-21">

        <div class="col-md-12">
            <h4>Lanches</h4>
            <hr>
        </div>
        <?php
        foreach ($cardapio as $item) {
            ?>
            <div class="cardapio-item col-md-4" data-id="<?= $item->id ?>" data-preco="<?= $item->preco ?>">
                <div class="img">
                    <img src="/img/placeholder_food.png" alt="">
                </div>
                <div class="item">
                    <p class="item-nome"><?= $item->nome ?></p>
                    <p class="item-descricao" data-descricao="<?= $item->descricao ?>"><?= substr($item->descricao, 0, 70) ?><?= strlen($item->descricao) > 70 ? "[...]" : "" ?></p>
                    <p class="item-preco">R$ <?= $item->preco ?></p>
                </div>
                <div class="acoes">
                    <button type="button" class="btn-add btn btn-warning btn-block"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <?php
        }
        ?>
        <div class="col-md-12 margin-top-21">
            <h4>Bebidas</h4>
            <hr>
        </div>
        <?php
        foreach ($bebidas as $item) {
            ?>
            <div class="cardapio-item col-md-4" data-id="<?= $item->id ?>" data-preco="<?= $item->preco ?>">
                <div class="img">
                    <img src="/img/placeholder_food.png" alt="">
                </div>
                <div class="item">
                    <p class="item-nome"><?= $item->nome ?></p>
                    <p class="item-descricao" data-descricao="<?= $item->descricao ?>"><?= substr($item->descricao, 0, 70) ?><?= strlen($item->descricao) > 70 ? "[...]" : "" ?></p>
                    <p class="item-preco">R$ <?= $item->preco ?></p>
                </div>
                <div class="acoes">
                    <button type="button" class="btn-add btn btn-warning btn-block"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <?php
        }
        ?>

    </div>


<?php $this->start("js") ?>
    <script src="/3-party/cleavejs/cleave.min.js"></script>
    <script src="/3-party/swal/sweetalert.min.js"></script>
    <script>
        $(function () {
            if ($("#pedido").val() != "") {
                setTimeout(function () {
                    loadPedido($("#pedido").val());
                }, 1000);
            }

            var trocoMask = new Cleave("#troco", {
                numeral: true,
                numeralDecimalMark: '.',
                delimiter: '',
                numeralThousandsGroupStyle: 'thousand',
                numeralIntegerScale: 14,
                numeralDecimalScale: 2,
                prefix: 'R$ '
            })

            $("#btn-fechar-pedido").click(function () {

                var pedido = $("#pedido").val();
                var itens = [];

                $(".env-pedido-itens").find("tr").each(function (idx, elem) {


                    if (!$(elem).hasClass('tr-total')) {
                        var item = $(elem).data("id");
                        var quantidade = $(elem).find(".inp-qtd").val();

                        itens.push({
                            item: item,
                            quantidade: quantidade
                        });
                    }
                });

                var formapagamento = [];

                $(".env-forma-pagamento").find("tr").each(function () {
                    var codigo = $(this).data("formapagamento");

                    formapagamento.push({
                        codigo: codigo
                    });
                });

                var observacoes = $("#observacao").val();
                var troco = $("#troco").val();

                if (itens.length == 0) {
                    toastr.error("Por favor selecione ao menos um item para seu pedido");
                    return;
                }

                if (formapagamento.length == 0) {
                    toastr.error("Por favor selecione uma forma de pagamento");
                    return;
                }


                blockUI("Gravando seu pedido");
                $.ajax("/admin/pedido?ajax=gravarPedido", {
                    method: "POST",
                    data: {
                        pedido: pedido,
                        itens: itens,
                        formapagamento: formapagamento,
                        observacoes: observacoes,
                        troco: troco
                    }
                }).done(function (response) {
                    blockUI("Feito!");
                    if (response.exception == undefined) {
                        toastr.success("Seu pedido foi gravado com sucesso!");
                        setTimeout(function () {
                            unblockUI()
                            window.location = "/admin";
                        }, 1000)
                    } else {
                        toastr.error("Ops, algo aconteceu de errado, por favor tente novamente");
                        unblockUI()
                    }

                });

            });

            $(".btn-add").click(function () {
                var id = $(this).parents(".cardapio-item").data("id");
                var preco = $(this).parents(".cardapio-item").data("preco");
                var nome = $(this).parents(".cardapio-item").find(".item-nome").html();

                if ($(this).find("i").hasClass("fa-plus")) {
                    $(this).find("i").removeClass("fa-plus");
                    $(this).find("i").addClass("fa-times");

                    $(this).removeClass("btn-warning");
                    $(this).addClass("btn-danger");

                    makePedidoItem({id: id, nome: nome, preco: preco})
                    updateTotalPedido();
                } else {
                    removePedidoItem(id);
                }


            });

            $("#btn-addpagamento").click(function () {
                var noAdd = false;

                var codigo = $("#forma-pagamento").val();
                var label = $("#forma-pagamento").find("option:selected").html();

                $(".env-forma-pagamento").find("tr").each(function (idx, elem) {
                    console.log($(elem).data("formapagamento"));
                    console.log(codigo);
                    if ($(elem).data("formapagamento") == codigo) {
                        noAdd = true;
                    }
                });

                if (noAdd == true) {
                    return;
                }

                makeFormaPagamentoItem(codigo, label);
            });

            $(".btn-status").click(function () {
                var pedido = $("#pedido").val();
                var status = $(this).data("codigo");
                var button = $(this);

                blockUI("Atualizando Status do Pedido");
                $.ajax("/admin/pedido?ajax=atualizaStatus", {
                    method: "POST",
                    data: {
                        pedido: pedido,
                        status: status
                    }
                }).done(function (response) {
                    unblockUI();
                    if (response.exception == undefined) {
                        $(".btn-status").removeClass("btn-success");
                        $(".btn-status").addClass("btn-default");

                        $(button).removeClass("btn-default");
                        $(button).addClass("btn-success");
                        toastr.success("Status Atualizado com sucesso");
                    } else {
                        toastr.error("Ops, algo deu errado: " + response.exception);
                    }

                });
            });
        });

        function makePedidoItem(data) {

            var tr = $("<tr id='item-" + data.id + "'>");
            $(tr).hide();
            $(tr).data("id", data.id);
            if (data.pedidoitem_id != undefined) {
                $(tr).data("pedido_item", data.pedidoitem_id);
            }
            var td = $("<td>");
            $(td).html(data.nome);
            $(tr).append(td);

            var td = $("<td class='col-md-1 text-center'>");
            var input = $("<input type='number' class='form-control inp-qtd' name='qtd' />")
            if (data.quantidade == undefined) {
                $(input).val(1);
            } else {
                $(input).val(data.quantidade);
            }

            $(input).change(updateValor);
            $(td).append(input);
            $(tr).append(td);

            var td = $("<td class='td-preco'>");
            $(td).data("preco", data.preco);
            $(td).html(data.preco);
            $(tr).append(td);


            var buttonRemove = $("<button class='btn-xs btn btn-danger'><i class='fa fa-times icon-white'></i></button>")
            $(buttonRemove).click(function () {
                removePedidoItem(data.id);
            });

            var td = $("<td>");
            $(td).html(buttonRemove);
            $(tr).append(td);


            $(".env-pedido-itens").prepend(tr);
            if (data.quantidade != undefined) {
                $(input).change();
            }
            $(tr).fadeIn(500);
        }

        function makeFormaPagamentoItem(codigo, label) {
            var tr = $("<tr>");
            $(tr).hide();
            $(tr).data("formapagamento", codigo);

            var td = $("<td>");
            $(td).html(label);
            $(tr).append(td);

            var buttonRemove = $("<button class='btn-xs btn btn-danger'><i class='fa fa-times icon-white'></i></button>")
            $(buttonRemove).click(function () {
                callback = function () {
                    $(tr).fadeOut(500, function () {
                        $(tr).remove();
                    });
                }
                if ($("#pedido").val() != "") {
                    removeFormaPagamentoPedido(codigo, callback);
                } else {
                    callback();
                }
            });

            var td = $("<td>");
            $(td).html(buttonRemove);
            $(tr).append(td);

            $(".env-forma-pagamento").append(tr);
            $(tr).fadeIn(500);
        }

        function removePedidoItem(id) {
            swal({
                title: "Vamos confirmar!",
                text: "Deseja retirar o item do pedido?",
                icon: "warning",
                buttons: ["Não, cancelar!", "Sim eu confirmo"]
            }).then(function (value) {
                if (value == true) {
                    var callback = function (id) {
                        $("#item-" + id).fadeOut(1000, function () {


                            $("#item-" + id).remove();


                            updateTotalPedido();
                        });

                        $("div[data-id='" + id + "']").find(".acoes").find("button").removeClass("btn-danger");
                        $("div[data-id='" + id + "']").find(".acoes").find("button").addClass("btn-warning");

                        $("div[data-id='" + id + "']").find(".acoes").find("i").removeClass("fa-times");
                        $("div[data-id='" + id + "']").find(".acoes").find("i").addClass("fa-plus");
                    }

                    if ($("#item-" + id).data("pedido_item") != undefined) {
                        blockUI("Removendo item do pedido");
                        var pedido_item = $("#item-" + id).data("pedido_item");
                        $.ajax("/admin/pedido?ajax=removeCardapioItem", {
                            method: "POST",
                            data: {
                                pedido: $("#pedido").val(),
                                item: pedido_item
                            }
                        }).done(function (response) {
                            unblockUI();
                            if (response.exception == undefined) {
                                callback(id);
                            } else {
                                toastr.error("Não foi possível remover o item do cardápio");
                            }
                        })
                    } else {
                        callback(id);
                    }


                }
            });
        }


        function updateValor() {
            var preco = parseFloat($(this).parents("tr").find(".td-preco").data("preco"));
            preco = preco * $(this).val();
            $(this).parents("tr").find(".td-preco").html(preco.toFixed(2));

            updateTotalPedido();
        }

        function updateTotalPedido() {
            var total = 0;
            $(".td-preco").each(function (idx, elem) {
                var preco = parseFloat($(this).parents("tr").find(".td-preco").html());
                total += preco;
            });

            $("#total-pedido").html(total.toFixed(2));
        }

        function removeFormaPagamentoPedido(codigo, callback) {
            var pedido = $("#pedido").val();

            $.ajax("/admin/pedido?ajax=removeFormaPagamento", {
                method: "POST",
                data: {
                    pedido: pedido,
                    formaPagamento: codigo
                }
            }).done(function (response) {
                if (response.exception == undefined) {
                    toastr.success("Forma de pagamento removida do pedido");
                    callback();
                } else {
                    toastr.success("Não foi possível remover a forma de pagamento do pedido");
                }
            });
        }

        function loadPedido(pedido) {
            blockUI("Carregando seu Pedido");

            $.ajax("/admin/pedido?ajax=loadPedido", {
                method: "POST",
                data: {
                    pedido: pedido
                }
            }).done(function (response) {

                if (response.exception == undefined) {
                    $("#observacao").val(response.pedido.observacoes);
                    $("#troco").val(response.pedido.troco_para);
                    $("#label-codigopedido").html(response.pedido.codigo);


                    $(response.itens).each(function (idx, elem) {
                        makePedidoItem({pedidoitem_id: elem.id, id: elem.item_id, nome: elem.item_nome, preco: elem.item_preco, quantidade: elem.quantidade});

                        var btnCardapioItem = $("div[data-id='" + elem.item_id + "']").find(".btn-add");

                        $(btnCardapioItem).find("i").removeClass("fa-plus");
                        $(btnCardapioItem).find("i").addClass("fa-times");

                        $(btnCardapioItem).removeClass("btn-warning");
                        $(btnCardapioItem).addClass("btn-danger");
                    });

                    $(response.forma_pagamento).each(function (idx, elem) {
                        makeFormaPagamentoItem(elem.codigo, elem.forma);
                    });
                } else {

                }

                unblockUI();
            });
        }
    </script>
<?php $this->stop() ?>

<?php $this->start("style") ?>
    <style>
        .env-cardapio {
            float: left;
            transition-duration: 1s;
        }

        .env-pedido {
            float: left;
            transition-durations: 1s;
        }

        .cardapio-item {
            border-bottom: 1px dashed #e2e2e2;
            border-right: 1px dashed #e2e2e2;
            transition-duration: 1s;
            cursor: pointer;
        }

        .cardapio-item:hover {
            background: #d5e2df;
        }

        .cardapio-item > .acoes {
            width: 100%;
            float: left;
        }

        .cardapio-item > .item {
            float: left;
            width: 50%;
            padding-left: 5px;
        }

        .cardapio-item > .img {
            float: left;
            width: 50%;
        }

        .cardapio-item > .img > img {
            float: left;
            width: 100%;
            max-height: 163px;
        }

        .cardapio-item > .item > .item-nome {
            font-size: 20px;
            color #333;
        }

        .cardapio-item > .item > .item-descricao {
            font-size: 15px;
            color: #666
        }

        .cardapio-item > .item > .item-preco {
            font-size: 22px;
            color: #1ABC9C;
        }
    </style>
<?php $this->stop() ?>