<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Me Gusta By Sr Valbernielson | Pedidos Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <link href="/3-party/web/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="/3-party/web/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/3-party/web/css/font-awesome.css" rel="stylesheet">
    <script src="/3-party/web/js/jquery.min.js"></script>
    <script src="/3-party/web/js/bootstrap.min.js"></script>
</head>
<body>

<div class="four">
    <img style="margin: 0 auto" class="img-responsive" src="/img/west-man.jpg" alt="">
    <h1 style="margin-top: 51px">Ora ora, veja quem esta aqui!</h1>
    <h2>Felizmente para você esta página não existe forasteiro[...]</h2>
    <p>Acho melhor você ir para um lugar seguro.</p>
    <p>
        <a href="/painel"><i class="fa fa-home"></i> Home</a>.
    </p>
</div>


<!---->
<div class="copy-right">
    <p> &copy; <?= date("Y") ?> Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<!---->
<!--scrolling js-->
<script src="/3-party/web/js/jquery.nicescroll.js"></script>
<script src="/3-party/web/js/scripts.js"></script>
<!--//scrolling js-->
</body>
</html>

