<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><?= $this->e($title) ?> | Sr Valbernielson Hamburgueria | Pedidos Online</title>
    <link rel="shortcut icon" href="https://framework.zend.com/ico/favicon.ico"/>

    <link href="/3-party/web/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="/3-party/web/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/3-party/web/css/font-awesome.css" rel="stylesheet">
    <?= $this->section('style') ?>
    <script src="/3-party/web/js/moment-2.2.1.js"></script>
    <script src="/3-party/web/js/jquery.min.js"></script>
    <script src="/3-party/web/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/3-party/toastrjs/toastr.min.css">
    <script src="/3-party/toastrjs/toastr.min.js"></script>

    <!-- Mainly scripts -->
    <script src="/3-party/web/js/jquery.metisMenu.js"></script>
    <script src="/3-party/web/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->


    <link href="/3-party/loading/loading.css" rel="stylesheet">
    <script src="/3-party/loading/loading.js"></script>

    <link rel="stylesheet" href="/3-party/datepicker/css/bootstrap-datepicker3.min.css">


    <link href="/3-party/web/css/custom.css" rel="stylesheet">
    <script src="/3-party/web/js/custom.js"></script>
    <script src="/3-party/web/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }

            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
</head>
<body>
<div class="preloader-it" style="padding-top: 15%">

</div>

<div id="wrapper">
    <!----->
    <nav class="navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="/admin">VH Pedidos</a></h1>
        </div>
        <div class=" border-bottom">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="drop-men">
                <ul class=" nav_1">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret"><?= $userSession['usuario']['nome'] ?><i class="caret"></i></span><img style="height: 60px;" src="/3-party/web/images/wo-2.jpg"></a>
                        <ul class="dropdown-menu " role="menu">
                            <li><a href="/logout"><i class="fa fa-lock"></i>Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="clearfix">

            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin" class=" hvr-bounce-to-right"><i class="fa fa-th nav_icon "></i><span class="nav-label">Pedidos Abertos</span> </a>
                            <a href="/admin/historico" class=" hvr-bounce-to-right"><i class="fa fa-list nav_icon "></i><span class="nav-label">Histórico</span> </a>
                            <a href="/admin/cardapio" class=" hvr-bounce-to-right"><i class="fa fa-tasks nav_icon "></i><span class="nav-label">Cardápio</span> </a>
                            <a href="/admin/dashboard" class=" hvr-bounce-to-right"><i class="fa fa-cubes nav_icon "></i><span class="nav-label">Dashboard</span> </a>
                        </li>


                    </ul>
                </div>
            </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main ">
            <div class="banner">
                <h2>
                    <i class="fa fa-angle-right"></i> <?= $title ?>
                    <?php
                    if ($backButton != "") {
                        ?>
                        <a style="margin-top: -6px;text-decoration: none;color: #000;" href="<?= $backButton ?>" class="btn btn-default float-right"><i class="fa fa-arrow-left"></i> Voltar</a>
                        <?php
                    }
                    ?>
                </h2>
            </div>


            <div class="container-fluid horz-grid" style="margin-top: 16px; margin-left: 16px;margin-right: 16px;">
                <?= $this->section('content') ?>
            </div>

            <div class="copy">
                <p> &copy; <?= date("Y") ?> Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!---->

<script src="/3-party/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/3-party/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/3-party/web/js/scripts.js"></script>
<?= $this->section('js') ?>
</body>
</html>

